@import url("https://fonts.googleapis.com/css?family=Sen:400,800&display=swap&subset=latin-ext");

$xl: "screen and (min-width: 1200px)";
$lg: "screen and (min-width: 992px)";

$firstColor: rgb(207, 217, 223);
$secondColor: rgb(226, 235, 240);
$lightOrange: #f6d365;
$darkOrange: #fda085;
$gradient: linear-gradient(to top, $firstColor 0%, $secondColor 100%);
$gradientOrange: linear-gradient(120deg, $lightOrange 0%, $darkOrange 100%);
$lightColor: #efefef;
$darkColor: #333;

%circle_btn {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: $gradientOrange;
  cursor: pointer;
  color: darken($lightColor, 2);
  box-shadow: inset 1.5px 1.5px darken($lightOrange, 12),
    inset -1px -1px lighten($darkOrange, 12), 2px 2px 15px rgba(0, 0, 0, 0.25),
    -2px -2px 15px rgba(255, 255, 255, 1);
  &:hover {
    color: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  background: transparent;
  width: 15px;
  &-thumb {
    box-shadow: inset 0 0 15px 15px rgba(110, 110, 110, 0.4);
    border: solid 5px transparent;
    border-radius: 1.3em;
  }
  &-track {
    box-shadow: inset 0 0 15px 15px transparent;
    border: solid 5px transparent;
  }
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: $gradient;
  color: $darkColor;
  font-family: "Sen", sans-serif;
  font-display: fallback;
  position: relative;
  @media #{$lg} {
    font-size: 14px;
    height: 100vh;
    overflow: hidden;
  }
}

i,
.unit__label,
.unit__button {
  pointer-events: none;
}

button,
a,
input,
select,
textarea {
  background: transparent;
  font-family: inherit;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input::placeholder {
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input,
select {
  padding: 0.5em 0.6em;
  box-shadow: 0.5px 0.5px rgb(247, 255, 255), -0.5px -0.5px rgb(167, 177, 183),
    inset 3px 3px 12px rgba(0, 0, 0, 0.15),
    inset -3px -3px 12px rgb(255, 255, 255);
  border-radius: 0.8em;
  width: 100%;
}

.container {
  width: 100%;
  height: auto;
  padding: 1.5em;
  @media #{$lg} {
    height: 100vh;
    margin-top: 1.2em;
    display: grid;
    grid-template-rows: 21% 37% calc(42% - 25px);
    grid-template-columns: 29% calc(42% - 50px) 29%;
  }
  @media #{$xl} {
    padding: 1.5em 7em;
  }
}

.box {
  width: 100%;
  height: auto;
  background: lighten($firstColor, 7);
  margin-bottom: 1.5em;
  border-radius: 1em;
  padding: 0.8em;
  box-shadow: inset -1.5px -1px rgb(167, 177, 183),
    inset 1.5px 1.5px rgb(247, 255, 255), 0px 1px 8px -1px rgba(0, 0, 0, 0.15),
    7px 7px 13px -1px rgba(0, 0, 0, 0.15);

  &:last-child {
    margin-bottom: 0.1em;
  }

  @media #{$lg} {
    overflow-y: scroll;
    padding: 1.2em;
  }
}

.temperature,
.add_ingredient,
.portion {
  &__control {
    margin: 0.9em 0em;
    display: flex;
    align-items: center;
    label,
    span {
      margin-right: 0.6em;
      font-size: 0.95em;
    }
  }
}

.add_ingredient {
  &__title {
    font-weight: 800;
    color: #666;
    font-size: 1em;
    margin-bottom: 0.3em;
  }

  &__control {
    &--button {
      margin-bottom: 0.2em;
      text-align: right;
    }

    @media #{$lg} {
      margin: 1.3em 0em;
    }
  }

  &__button {
    @extend %circle_btn;
  }

  @media #{$lg} {
    grid-area: 1/1/3/2;
    margin-bottom: 25px;
  }
}

.portion {
  @media #{$lg} {
    grid-area: 1/2/2/3;
    margin-bottom: 25px;
    margin-left: 25px;
  }
}

.temperature {
  text-align: center;
  &__title {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 0.3em;
  }

  &__button {
    @extend %circle_btn;
    margin-bottom: 0.9em;
  }

  &__subtitle {
    color: #555;
    margin-top: 0.3em;
  }

  @media #{$lg} {
    grid-area: 3/1/4/2;
  }
}

.measure.box,
.products.box {
  padding: 0px;
  .products__item,
  .measure__item {
    width: 100%;
    border-bottom: 3px solid rgba(187, 197, 203, 0.8);
    padding: 1em;
    font-size: 0.95em;
    &:last-child {
      border-bottom: 0px;
    }
  }
}

.measure.box {
  @media #{$lg} {
    grid-area: 3/3/4/4;
    margin-left: 50px;
  }
}

.products.box {
  @media #{$lg} {
    grid-area: 1/3/3/4;
    margin-bottom: 25px;
    margin-left: 50px;
  }
}

.ingredients.box {
  padding: 0px;
  .ingredients__control,
  .ingredient_item {
    width: 100%;
    border-bottom: 3px solid rgba(187, 197, 203, 0.8);
    padding: 1em;
    font-size: 0.95em;
    display: flex;
  }

  .ingredients__control {
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 0px;
  }

  .ingredient_item {
    justify-content: space-between;
    align-items: center;
    button {
      margin-left: 0.2em;
      i {
        font-size: 1.8em;
        color: #888;
      }
      &:hover i {
        color: #444;
      }
    }
    &:first-child {
      border-top: 3px solid rgba(187, 197, 203, 0.8);
    }
    &:last-child {
      border-bottom: 0px;
    }
  }

  @media #{$lg} {
    grid-area: 2/2/4/3;
    margin-left: 25px;
  }
}

.ingredients__button {
  margin-bottom: 0.4em;
  padding: 0.3em;
  color: lighten($darkColor, 15);
  &:hover {
    color: $darkColor;
  }
}

.ingredients__button_unit {
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  align-self: flex-end;

  .unit__label {
    margin-right: 1em;
    line-height: 22px;
  }
  .unit__button {
    width: 40px;
    height: 20px;
    position: relative;
    .dot {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: darken($firstColor, 10);
      cursor: pointer;
      box-shadow: 0.5px 0.5px darken($firstColor, 10),
        -0.5px -0.5px lighten($firstColor, 10),
        inset -2px -2px 10px rgba(255, 255, 255, 0.6),
        inset 2px 2px 10px rgba(0, 0, 0, 0.15),
        0px 1px 12px -1px rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 0px;
      left: 0px;
      transition: all 0.2s;
    }
    .stripe {
      display: block;
      margin-top: 5px;
      width: 100%;
      height: 10px;
      box-shadow: 0.5px 0.5px rgb(247, 255, 255),
        -0.5px -0.5px rgb(167, 177, 183), inset 2px 2px 10px rgba(0, 0, 0, 0.15),
        inset -2px -2px 10px rgb(255, 255, 255);
      border-radius: 0.8em;
    }
  }
  &--active .unit__button .dot {
    left: 20px;
    background: $gradientOrange;
    box-shadow: 0.5px 0.5px darken($lightOrange, 10),
      -0.5px -0.5px lighten($darkOrange, 10),
      inset -2px -2px 10px rgba(255, 255, 255, 0.6),
      inset 2px 2px 10px rgba(0, 0, 0, 0.15),
      0px 1px 12px -1px rgba(0, 0, 0, 0.15);
  }
}
.error {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0.8em;
  z-index: 10;
  max-width: 250px;
  text-align: right;
  &__text {
    padding: 0.7em;
    background: $gradientOrange;
    color: #fff;
    border-radius: 1em;
    box-shadow: inset 1.5px 1.5px darken($lightOrange, 12),
      inset -1px -1px lighten($darkOrange, 12), 2px 2px 15px rgba(0, 0, 0, 0.25),
      -2px -2px 15px rgba(255, 255, 255, 1);
  }
}
